<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 
 
<configuration>
	
	<!-- <properties>
		<property name="jdbc.driver" value="com.mysql.jdbc.Driver"/>
	</properties> -->
	
	<!-- 
		<properties>:设置或引入资源文件
		resource:在类路径下访问资源文件
		url:在网络路径或磁盘路径下访问资源文件
	 -->
	<properties resource="jdbc.properties"></properties>
	
	<settings>
		<!-- 将下划线映射成驼峰，user_name映射为userName -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 开启延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 是否查询所有数据 -->
		<setting name="aggressiveLazyLoading" value="false"/>
		<!-- 是否开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- 
			为类型设置类型别名
			type:Java 类型，若只设置type，默认的别名就是类型，且不区分大小写
		 -->
		<!-- <typeAlias type="com.atguigu.bean.User" alias="u"/> -->
		<package name="com.atguigu.bean"/>
	</typeAliases>
	
	
	<!-- 
		<environments>:设置连接数据库的环境
		default:设置默认使用的数据库环境
	 -->
	<environments default="mysql">
		<!-- 
			<environment>:设置某个具体的数据库的环境
			id:数据库环境的唯一标示
		 -->
		<environment id="mysql">
			<!-- type="JDBC|MANAGED"，JDBC：使用JDBC原生的事务管理方式，即提交和回滚都需要手动处理 -->
			<transactionManager type="JDBC" />
			<!-- type="POOLED|UNPOOLED|JNDI" -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
		
		<environment id="oracle">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/ssm" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>
	<!-- 引入映射文件 -->
	<mappers>
		<!-- <mapper resource="EmpMapper.xml" />
		<mapper resource="DeptMapper.xml" /> -->
		<!-- 此种写法要求mapper接口和mapper映射文件必须在同一个包下 -->
		<package name="com.atguigu.mapper"/>
	</mappers>
</configuration>